<a href="https://colab.research.google.com/github/Praaabin/cps5004/blob/main/Week2_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lecture 2

Example#1

In [2]:
print("Hello world!")

Hello world!

Example #2

In [8]:
import pandas as pd

# Sample data
data = {
    'Employee_name': ['Richard Nicholson', 'Belinda Carlisle', 'Romeo Fara', 'Francisco Chavez'],
    'Monthly_Net_salary': ['3256.23', 1562, 1400.58, '5689'],
    'Age': ['45', 29, '23', 'unknown']
}

df = pd.DataFrame(data)
print('\nDataFrame before fixing mixed data types:\n', df)

# Function to detect mixed data types
def detect_mixed_data_values(df):
    mixed_columns = {}
    for column in df.columns:
        inferred_type = pd.api.types.infer_dtype(df[column])
        if inferred_type == 'mixed-integer':
            mixed_columns[column] = inferred_type
    return mixed_columns

mixed_columns = detect_mixed_data_values(df)
print("\nColumns with mixed data types:", mixed_columns)

# Function to fix mixed data types
def fix_mixed_data_values(df):
    for column in df.columns:
        # Try converting to numeric, coerce errors will turn non-convertible values to NaN
        df[column] = pd.to_numeric(df[column], errors='coerce')

        # If there are NaN values, you might want to decide how to handle them (e.g., fill with a default value)
        if df[column].isnull().any():
            print(f"Column '{column}' contains non-numeric values. Filling NaNs with 0.")
            df[column].fillna(0, inplace=True)

    return df

# Fixing mixed data values in the DataFrame
df_fixed = fix_mixed_data_values(df)
print("\nDataFrame after fixing mixed data types:\n", df_fixed)

DataFrame before fixing mixed data types:
        Employee_name Monthly_Net_salary      Age
0  Richard Nicholson            3256.23       45
1   Belinda Carlisle               1562       29
2         Romeo Fara            1400.58       23
3   Francisco Chavez               5689  unknown

Columns with mixed data types: {'Monthly_Net_salary': 'mixed-integer', 'Age': 'mixed-integer'}
Column 'Employee_name' contains non-numeric values. Filling NaNs with 0.
Column 'Age' contains non-numeric values. Filling NaNs with 0.

DataFrame after fixing mixed data types:
    Employee_name  Monthly_Net_salary   Age
0            0.0             3256.23  45.0
1            0.0             1562.00  29.0
2            0.0             1400.58  23.0
3            0.0             5689.00   0.0